.patient-list-management {
    .patient-list-form {
      background-color: #ffffff;
      .patient-list-header {
        color: #ffffff;
        background-color: #03315d;
      }
      .find-patient-col {
        padding: 10px 10px;
      }
      .patient-list-form {
        width: 95%;
      }
    }
  }
  